:root {
	--c-fg: #111;
	--c-bg: #fff;
	--c-border: #111;
}

.root {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	color: var(--c-fg);
	cursor: pointer;
	user-select: none;
}

/* Check circle */
.box {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	border-radius: 9999px;
	border: 1px solid var(--c-border);
	background: var(--c-bg);
	transition: all 0.15s ease;
}

.icon {
	display: none;
}

.icon circle {
	fill: var(--c-fg);
}

.icon path {
	stroke: #fff;
}

/* State - default(unselected) or selected */
.state_default .box {
	background: var(--c-bg);
	border-color: var(--c-border);
}

.state_selected .icon {
	display: block;
}

.state_selected .box {
	background: var(--c-fg);
	border-color: var(--c-fg);
}

/* Text */
.text {
	font-family: "Pretendard Variable";
	font-weight: 300;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0;
	color: #000000;
	user-select: none;
}

/* Interactions */
.root:hover .box {
	opacity: 0.9;
}

.root:active .box {
	opacity: 0.75;
}
